p{
  text-align: center;
  font-family: 'Gill Sans';
}
div p{

font-family: 'Gill Sans';
text-align: center;
}
div{
  text-decoration: none;
border-radius: 50%;
background-color:#ecf0f1;
width: 10em;
height: 10em;
  display: inline-block;


}
h1{
  font-family: 'Gill Sans';
}
h2{
  font-family: 'Gill Sans';
}
h4{
    font-family: 'Gill Sans';
}
body{
  background-color:#e74c3c;
}
a:hover{
color:#bdc3c7;
}